<header>
	<div class="header-box">
		<div class="header-logo">Bookswap</div>
	</div>
		<div class="white_box">
			<div class="font-weight-bold mb-2 pb-2">Sorry, something went wrong</div>
			<button class="btn btn-primary"><a href="/">Go back to main</a></button>
		</div>
</header>
