<header>
		<div class="header-box">
			<a href="/"><div class="header-logo">Bookswap</div></a>
			<div class="header-right">
				<div class="header-icon">
					<a href="/book_list"><
					<i class="fas fa-tasks"></i></a>
				</div>
				<div class="header-icon">
					<a href="/menu"><i class="fas fa-user"></i></a>
				</div>
				<div class="header-icon">
					<a href="/socket">
					<i class="fas fa-comment-dots"></i></a>
				</div>
			</div>
		</div>
</header>
<section class="container">
	<div class="row">
		<div class="col-5">
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 512 512" height="362" viewBox="0 0 512 512" width="362"><g><g><path d="m102.455 472.175h32.325v32.325h-32.325z" fill="#524798"/></g><g><path d="m377.22 472.175h32.325v32.325h-32.325z" fill="#524798" transform="matrix(-1 0 0 -1 786.764 976.675)"/></g><g><path d="m239.837 21.642h32.325v307.089h-32.325z" fill="#b78e8e" transform="matrix(0 1 -1 0 431.187 -80.813)"/></g><g><path d="m212.563 95.384h86.874v40.407h-86.874z" fill="#fb636f" transform="matrix(0 1 -1 0 371.587 -140.413)"/></g><g><path d="m254.99 105.486h74.752v32.325h-74.752z" fill="#9dc6fb" transform="matrix(0 1 -1 0 414.014 -170.718)"/></g><g><path d="m321.661 107.506h70.711v32.325h-70.711z" fill="#e49824" transform="matrix(0 1 -1 0 480.685 -233.348)"/></g><g><path d="m281.254 99.425h86.874v32.325h-86.874z" fill="#95d6a4" transform="matrix(0 1 -1 0 440.278 -209.104)"/></g><g><path d="m182.258 105.486h74.752v32.325h-74.752z" fill="#9dc6fb" transform="matrix(0 1 -1 0 341.283 -97.986)"/></g><g><path d="m119.628 107.506h70.711v32.325h-70.711z" fill="#ffd064" transform="matrix(0 1 -1 0 278.652 -31.315)"/></g><g><path d="m143.872 99.425h86.874v32.325h-86.874z" fill="#5e54ac" transform="matrix(0 1 -1 0 302.896 -71.722)"/></g><g><path d="m250.949 257.01h74.752v32.325h-74.752z" fill="#a2b9e2" transform="matrix(0 1 -1 0 561.498 -15.152)"/></g><g><path d="m317.62 259.03h70.711v32.325h-70.711z" fill="#e49824" transform="matrix(0 1 -1 0 628.169 -77.783)"/></g><g><path d="m277.213 250.949h86.874v32.325h-86.874z" fill="#dd5790" transform="matrix(0 1 -1 0 587.762 -53.539)"/></g><g><path d="m186.299 257.01h74.752v32.325h-74.752z" fill="#80b4fb" transform="matrix(0 1 -1 0 496.848 49.498)"/></g><g><path d="m123.669 259.03h70.711v32.325h-70.711z" fill="#f9efda" transform="matrix(0 1 -1 0 434.218 116.169)"/></g><g><path d="m147.913 250.949h86.874v32.325h-86.874z" fill="#95d6a4" transform="matrix(0 1 -1 0 458.461 75.762)"/></g><g><path d="m212.563 250.949h86.874v32.325h-86.874z" fill="#e49824" transform="matrix(0 1 -1 0 523.112 11.112)"/></g><g><path d="m97.404 164.075h32.325v22.224h-32.325z" fill="#aa8080" transform="matrix(0 1 -1 0 288.754 61.62)"/></g><g><path d="m382.27 164.075h32.325v22.224h-32.325z" fill="#aa8080" transform="matrix(0 1 -1 0 573.62 -223.246)"/></g><g><path d="m70.13 27.703v424.268c0 11.158 9.045 20.203 20.203 20.203h331.333c11.158 0 20.203-9.045 20.203-20.203v-424.268c0-11.158-9.045-20.203-20.203-20.203h-331.333c-11.158 0-20.203 9.045-20.203 20.203zm339.415 282.846h-307.09v-270.724h307.089v270.724z" fill="#9d6b6b"/></g><g><path d="m421.667 7.5h-24.244c11.158 0 20.203 9.045 20.203 20.203v424.268c0 11.158-9.045 20.203-20.203 20.203h24.244c11.158 0 20.203-9.045 20.203-20.203v-424.268c0-11.158-9.045-20.203-20.203-20.203z" fill="#8b5e5e"/></g><g><path d="m102.455 342.874h137.382v96.976h-137.382z" fill="#b78e8e"/></g><g><path d="m272.163 342.874h137.382v96.976h-137.382z" fill="#b78e8e"/></g><g><circle cx="306.508" cy="391.362" r="10.102"/><circle cx="205.492" cy="391.362" r="10.102"/><path d="m421.67 0h-331.34c-15.274 0-27.7 12.426-27.7 27.7v339.3c0 4.143 3.358 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-339.3c0-7.003 5.697-12.7 12.7-12.7h331.34c7.003 0 12.7 5.697 12.7 12.7v105.49c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-105.49c0-15.274-12.427-27.7-27.7-27.7z"/><path d="m441.87 160.89c-4.143 0-7.5 3.357-7.5 7.5v283.58c0 7.003-5.697 12.7-12.7 12.7h-331.34c-7.003 0-12.7-5.697-12.7-12.7v-49.77c0-4.143-3.358-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v49.77c0 15.274 12.426 27.7 27.7 27.7h4.625v24.83c0 4.143 3.358 7.5 7.5 7.5h32.325c4.142 0 7.5-3.357 7.5-7.5v-24.83h227.44v24.83c0 4.143 3.357 7.5 7.5 7.5h32.325c4.143 0 7.5-3.357 7.5-7.5v-24.83h4.625c15.273 0 27.7-12.426 27.7-27.7v-283.58c0-4.143-3.357-7.5-7.5-7.5zm-314.59 336.11h-17.325v-17.33h17.325zm274.765 0h-17.325v-17.33h17.325z"/><path d="m417.045 39.825c0-4.143-3.357-7.5-7.5-7.5h-307.09c-4.142 0-7.5 3.357-7.5 7.5v270.724c0 4.143 3.358 7.5 7.5 7.5h307.09c4.143 0 7.5-3.357 7.5-7.5zm-307.09 126.699h292.09v17.325h-292.09zm68.691-78.211v-8.663h17.325v4.622 67.252h-17.325zm64.651-4.041v-4.622h25.406v4.622 67.252h-25.406zm72.731 0v-4.622h17.325v8.663 63.211h-17.325zm49.651 67.252h-17.325v-55.711h17.325zm-64.651 0h-17.325v-59.752h17.325zm-72.731 0h-17.325v-59.752h17.325zm-64.651 0h-17.325v-55.711h17.325zm238.399-104.199v104.199h-21.366v-63.211c0-4.143-3.357-7.5-7.5-7.5h-24.825v-8.663c0-4.143-3.357-7.5-7.5-7.5h-32.325c-4.143 0-7.5 3.357-7.5 7.5v4.622h-17.325v-4.622c0-4.143-3.357-7.5-7.5-7.5h-40.406c-4.142 0-7.5 3.357-7.5 7.5v4.622h-17.325v-4.622c0-4.143-3.358-7.5-7.5-7.5h-32.325c-4.142 0-7.5 3.357-7.5 7.5v8.663h-24.825c-4.142 0-7.5 3.357-7.5 7.5v63.211h-21.366v-104.199zm-234.358 255.724h-17.325v-55.711h17.325zm15-71.874h17.325v71.874h-17.325zm32.325 12.122h17.325v59.752h-17.325zm32.325-12.122h17.326v71.874h-17.326zm32.326 12.122h17.324v59.752h-17.324zm32.325 59.752-.001-71.874h17.325v71.874zm32.325 0v-55.711h17.325v55.711zm32.326 0v-63.211c0-4.143-3.357-7.5-7.5-7.5h-24.826v-8.663c0-4.143-3.357-7.5-7.5-7.5h-32.325c-4.143 0-7.5 3.357-7.5 7.5v4.622h-17.324v-4.622c0-4.143-3.357-7.5-7.5-7.5h-32.326c-4.142 0-7.5 3.357-7.5 7.5v4.622h-17.325v-4.622c0-4.143-3.358-7.5-7.5-7.5h-32.325c-4.142 0-7.5 3.357-7.5 7.5v8.663h-24.825c-4.142 0-7.5 3.357-7.5 7.5v63.211h-25.407v-104.199h292.09v104.199z"/><path d="m94.955 439.85c0 4.143 3.358 7.5 7.5 7.5h137.382c4.142 0 7.5-3.357 7.5-7.5v-96.976c0-4.143-3.358-7.5-7.5-7.5h-137.382c-4.142 0-7.5 3.357-7.5 7.5zm15-89.476h122.382v81.976h-122.382z"/><path d="m409.473 335.374h-137.382c-4.143 0-7.5 3.357-7.5 7.5v96.976c0 4.143 3.357 7.5 7.5 7.5h137.382c4.143 0 7.5-3.357 7.5-7.5v-96.976c0-4.143-3.358-7.5-7.5-7.5zm-7.5 96.976h-122.382v-81.976h122.382z"/></g></g></svg>
			</div>
		</div>
		<div class="col-5">
					<div class="form-title add-title">Add a book</div>
			<div class="form-box">
			  	<form action="/api/books" method="POST" class="form-cont form-group" autocomplete="off">
			  		<h3>By hand</h3>
					<div class="form-group row">
					    <label for="author" class="col-sm-2 col-form-label">Author</label>
					    <div class="autocomplete col-sm-10">
					    	<input type="text" id="myInput" name="author" class="text-input form-control">
					    </div>
				    </div>
				    <div class="form-group row">
						<label for="title" class="col-sm-2 col-from-label">Title</label>
						<div class="col-sm-10">
						    <input type="text" id="title" name="title" class="text-input form-control col" >
						</div>
				    </div>
				    <p class="alert alert-info text-center">{{warning}}</p>
				    <select name="genre" class="custom-select form-group">
						<option selected>Genre</option>
						<option value="romance">Romance</option>
						<option value="drama">Drama</option>
						<option value="essays">Essays</option>
						<option value="fantasy">Fantasy</option>
						<option value="horror">Horror</option>
						<option value="scifi">Science Fiction</option>
						<option value="youngAdult">Young Adult</option>
					</select>
				    <div class="radio-box form-group">
						<label for='condition'>Book condition</label>
						    <div class='radio-container'>
								<input checked='' id='book-condition-good' name='book_condition' type='radio' value='good'>
								<label for='book-condition-good'>Good</label>
							    <input id='book-condition-medium' name='book_condition' type='radio' value='medium'>
								<label for='book-condition-medium'>More or less</label>
							    <input id='book-condition-bad' name='book_condition' type='radio' value='bad'>
								<label for='book-condition-bad'>Hmmm..</label>
							</div>
					</div>

					<div class="form-group">
				    	<textarea id="quote" class="form-control" name="quote" rows="4" placeholder="Here You can give Your unwanted opinion on the book"></textarea>
				    </div>
					<div class="col">
			  			<input type="submit" class="btn btn-primary "value="Add BOOK" href="/addpost">
			  		</div>
				</form>
			</div>
		</div>
		<div class="col-2 text-center mt-5 border-left">
			<h3>Or upload by adding a picture of the barcode</h3>
		<div class='book-photo form-group'>
			<button id='picUpload'>
				<a href="/scan">
				<i class='fas fa-camera-retro'></i></a>
			</button>
			 <label class="mt-2" for='picUpload'>Upload a photo</label>
		</div>
		</div>
	</div>
</section>

