	<header>
		<div class="header-box">
			<a href="/"><div class="header-logo">Bookswap</div></a>
			<div class="header-right">
				<div class="header-icon">
					<a href="/book_list"><i class="fas fa-tasks"></i></a>
				</div>
				<div class="header-icon">
					<a href="/menu"><i class="fas fa-user"></i></a>
				</div>
				<div class="header-icon">
					<a href="/socket"><i class="fas fa-comment-dots"></i></a>
				</div>
			</div>
		</div>
	</header>
	<section class="bookcase-section">
		<div class="second-header-box">
			<div class="second-header">Your books</div>
			<div class="radio-box">
				<div class='radio-container'>
					<label class="radio-cont-label ici" for='book-condition-medium'>Bookcase</label>
					<a href="bookcase-list_view.html">
					    <label class="radio-cont-label" for='book-condition-good'>Edit</label>
					</a>
				</div>
			</div>
		</div>
		<div class="card-container">
			<div class="book-card add-card ">
				<div class="plus-box">
					<a href="add_a_book"><i class="fas fa-plus fa-plus_box"></i></a>
				</div>
			</div>
			{{#if freeBooks}}
			{{#each freeBooks}}
			<div class="book-card book" id={{this.id}}>
			<data class="book_condition_value {{this.id}}" value={{this.book_condition}}></data>
			<img class="book_condition_pic {{this.id}}" src="../pics/rysunek.svg">
			  <div class="book-inside">
			    <div class="book-title">{{this.title}}</div>
			    <div class="book-author">{{this.author}}</div>
			    <div>{{this.genre}}</div>
			    <div class="button-box">
			      <button
			        class="button2 buttons hidden"
			        onclick="document.getElementById('modal-{{this.id}}').style.display='block'">
			        <i class="far fa-window-close"></i>
			      </button>
			      <div class="modal" id="modal-{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" style="display: none">
					    <div class="modal-dialog" role="document">
					        <div class="modal-content">
					            <div class="modal-body">
					            	<span
						              onclick="document.getElementById('modal-{{this.id}}').style.display='none'"
						              class="sadmodal-exit-button">
						              <i class="far fa-window-close"></i>
						            </span>
						            <p>Do you want to take the book off the bookshelf?</p>
						            <form method="POST" action="/api/books/{{this.id}}/delete">
							            <button class="yes-btt" type="submit" >Yes</button>
							        </form>
					            </div>
					        </div>
					    </div>
					</div>
					<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
			     <!--  <div class="book-quote-box">
			        <p class="quote-txt">Edit your quote: </p>
			        <textarea disabled placeholder="{{this.quote}}"></textarea>
			      </div> -->
			    </div>
			  </div>
			</div>
			{{/each}}
			{{/if}}
			{{#if reservedBooks}}
		</div>
			<div class="second-header-box">
				<h3 class="second-header">Books already reserved</h3>
			</div>
		<div class="card-container">
			{{#each reservedBooks}}
			<div class="book-card book" id={{this.id}}>
			<data class="book_condition_value {{this.id}}" value={{this.book_condition}}></data>
			<img class="book_condition_pic {{this.id}}" src="../pics/rysunek.svg">
			  <div class="book-inside">
			    <div class="book-title">{{this.title}}</div>
			    <div class="book-author">{{this.author}}</div>
			    <div>{{this.genre}}</div>
			    <div class="button-box">
			      <button
			        class="button2 buttons hidden"
			        onclick="document.getElementById('modal-{{this.id}}').style.display='block'">
			        <i class="far fa-window-close"></i>
			      </button>
			      <!-- MODAL -->
			      	<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" style="display: none">
					    <div class="modal-dialog" role="document">
					        <div class="modal-content">
					            <div class="modal-body">
					            	<span
						              onclick="document.getElementById('modal-{{this.id}}').style.display='none'"
						              class="sadmodal-exit-button">
						              <i class="far fa-window-close"></i>
						            </span>
						            <p>Do you want to take the book off the bookshelf?</p>
						            <form method="POST" action="/api/books/{{this.id}}/delete">
							            <button class="yes-btt" type="submit" >Yes</button>
							        </form>
					            </div>
					        </div>
					    </div>
					</div>
					<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
			      <!-- MODAL -->
			      <!-- <div class="book-quote-box">
			        <p class="quote-txt">Edit your quote: </p>
			        <textarea disabled placeholder="{{this.quote}}"></textarea>
			      </div> -->
			    </div>
			  </div>
			</div>
			{{/each}}
			{{/if}}
		</div>
	</section>

