<!-- <link rel="stylesheet" type="text/css" href="../css/bookWishList.css"> -->
<script defer type="text/javascript" src="../js/bookWishList.js"></script>

<header>
		<div class="header-box">
			<a href="/"><div class="header-logo">Bookswap</div></a>
			<div class="header-right">
				<div class="header-icon">
					<a href="/book_list">
					<i class="fas fa-tasks"></i></a>
				</div>
				<div class="header-icon">
					<a href="/menu"><i class="fas fa-user"></i></a>
				</div>
				<div class="header-icon">
					<a href="/socket">
					<i class="fas fa-comment-dots"></i></a>
				</div>
			</div>
		</div>
</header>
<section class="container">
	<div class="row">
		<div class="col">
			<h2>My wishlist:</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form class="addBookForm" action="/api/books" method="POST">
				<button class="add_to_wishlist-btn">Add to the wishlist</button>
				<label class="inp-label">Author</label>
				<input type="text" name="author" required="">
				<label class="inp-label">Title</label>
				<input type="text" name="title" required="">
			</form>
		</div>
	</div>
	<div class="row main-box">
		<div class="col column-box dropbox" ondrop="drop(event)" ondragover="allowDrop(event)">
			<h3 class="col-title">To be read:</h3>
			{{#each toBeRead}}
			<div class="book_wish_list-el" id="{{this.id}}" data_status="{{this.status}}" draggable="true" ondragstart="drag(event)">
				<div class="book_wish_list-el-inside">
					<div class="b-author">{{this.author}}</div>
					<div class="b-title">{{this.title}}</div>
				</div>
					<form method="POST" action="/api/books/{{this.id}}/delete" class="trash-icon-box">
						<button class=" not-a-button" type="submit"><i class="fas fa-trash"></i></button>
					</form>
			</div>
			{{/each}}
		</div>
		<div class="col column-box dropbox" id="clearAllBox" ondrop="drop(event)" ondragover="allowDrop(event)">
			<div class="done_header">
				<h3 class="col-title">Done:</h3>
				<button class="done_header_trash not-a-button" id="clearAll">
					<i class="fas fa-trash"></i>
				</button>
			</div>
			{{#each read}}
			<div class="book_wish_list-el" id="{{this.id}}" data_status="{{this.status}}" draggable="true" ondragstart="drag(event)">
				<div class="book_wish_list-el-inside">
					<div class="b-author">{{this.author}}</div>
					<div class="b-title">{{this.title}}</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
