<header>
	<div class="header-box">
		<div class="header-logo">Bookswap</div>
	</div>
		<div class="white_box">
			<label class="font-weight-bold mb-2 border-bottom border-primary pb-2">Find Your Account</label>
			<p>Please enter your email to search for your account.</p>
			<form class="col-8" action="/sendEmail" method="POST">
				<input type="text" name="email" autofocus="1" class="form-control">
				{{#if no_account}}
					<p class="error_msg">No account at this email</p>
				{{/if}}
				<div class="form-group form-check mt-3 text-right">
					<button type="submit" id="did_submit" class="btn btn-primary">Search</button>
					<a href="/login" class="ml-2 btn btn-light">Cancel</a>
				</div>
			</form>
		</div>
</header>
