<form action="/updateData" method="POST" enctype="multipart/form-data" class="col mb-4">
    <h3>Please add some information</h3>
    <div class="form-group">
      <label for="phone_nr">phone number</label>
      <input type="text" class="form-control" id="phone_nr_input" name="phone_nr"
      required="">
    </div>
    <div class="form-group">
      <label for="img_path">Profile image</label>
      <input type="file" class="form-control" id="profile_pic_input" name="img_path"
      required="">
    </div>
    <h3>Address</h3>
    <p>Add if you want to search books by distance</p>
    <div class="form-group">
      <label for="city">city</label>
      <input type="text" class="form-control" class="inputAddress" name="city" required="">
    </div>
    <div class="form-group">
      <label for="street">street</label>
      <input type="text" class="form-control" class="inputAddress" name="street" required="">
    </div>
    <div class="form-group">
      <label for="building_nr">building number</label>
      <input type="text" class="form-control" class="inputAddress" name="building_nr" required="">
    </div>
    <button type="submit" href class="btn btn-primary mt-3">Add info</button>
</form>
