
<form action="/api/books/{{book_id}}/update" method="POST" class="form-cont form-group form-row" autocomplete="off">
  <h3>Now just add some addditional info: </h3>
  <div class="col-6">
    <select name="genre" class="custom-select form-group">
      <option selected>Genre</option>
      <option value="romance">Romance</option>
      <option value="drama">Drama</option>
      <option value="essays">Essays</option>
      <option value="horror">Horror</option>
      <option value="scifi">Science Fiction</option>
      <option value="youngAdult">Young Adult</option>
    </select>
    <div class="radio-box form-group">
      <label for='condition'>Book condition</label>
        <div class='radio-container'>
        <input checked='' id='book-condition-good' name='book_condition' type='radio' value='good'>
      <label for='book-condition-good'>Good</label>
        <input id='book-condition-medium' name='book_condition' type='radio' value='medium'>
      <label for='book-condition-medium'>More or less</label>
        <input id='book-condition-bad' name='book_condition' type='radio' value='bad'>
      <label for='book-condition-bad'>Hmmm..</label>
    </div>
    </div>
    <div class="form-group">
       <textarea id="quote" class="form-control" name="quote" rows="4" placeholder="Here You can give Your unwanted opinion on the book"></textarea>
    </div>
  </div>
    <div class="col">
      <input type="submit" class="btn btn-primary "value="Add BOOK" href="/addpost">
    </div>
</form>
