<!-- <link rel="stylesheet" type="text/css" href="../css/hello.css"> -->
<div class="hello_header">
	<div class=" row">
		<div class="h_logo col">Bookswap</div>
	</div>
	<div class="t_box row">
		<div class="t_main col">
			<p>"Hello, this is an app for exchanging books. After registering you can search books by title or author, genre and within a selected distance. Selecting a book will send you to a chat window with the books owner where you can set the swap specifics.</p>
			<p>You add your own books by adding a pic of their barcode or manually writong all the info. You also have a place to write down all the books you're interested in reading in the future. Be nice and have fun!"</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="btn-box">
				<div class="ind_btn_box">
					<button class="btn btn-lg btn-dark"><a href=/register>Register</a></button>
				</div>
				<div class="ind_btn_box">
					<button class="btn btn-lg btn-outline-dark"><a href=/login>Login</a></button>
				</div>
			</div>
		</div>
	</div>
</div>
