	<header>
		<div class="header-box">
			<a href="/"><div class="header-logo">Bookswap</div></a>
			<div class="header-right">
				<div class="header-icon">
					<a href="/book_list">
					<i class="fas fa-tasks"></i></a>
				</div>
				<div class="header-icon">
					<a href="/menu"><i class="fas fa-user"></i></a>
				</div>
				<div class="header-icon">
					<a href="/socket">
					<i class="fas fa-comment-dots"></i></a>
				</div>
			</div>
		</div>
	</header>
	<section class="bookcase-section">
		<div class="second-header-box">
			<div class="second-header">Your books</div>
			<div class='radio-container'>
					<a href="bookcase-view">
				<label class="radio-cont-label"  for='book-condition-medium'>Bookcase</label>
				    </a>
				<label class="radio-cont-label ici" for='book-condition-good'>Edit</label>
			</div>
		</div>
		<div class="book-list list">
			<li class="book-item">
					<a href="add_a_book"><i class="fas fa-book book-icon"></i>
						<div class="vertical-align"><h2 class="title">{{title}}</h2></div>
					</a>
			</li>
			{{#if reservedBooks}}
			<h3 class="second-header row header-three">Reserved books</h3>
			{{#each reservedBooks}}
			<li class="book-item row" id="{{this.id}}">
				<div class="book-icon col-1"><i class="fas fa-book book-icon"></i></div>
				<div class="book-info col-2">
					<p class="list-book-title">{{this.title}}</p>
					<p class="list-book-author">{{this.author}}</p>
					<p>{{this.genre}}</p>
					<label class="" for="reserveBook">Set it free</label>
					<input type="checkbox" name="status" value="reserved" checked="" class="reserveBook" data="{{this.id}}" data-status="{{this.status}}"></input>
				</div>
				<form class="editForm col-8" method="POST" action="/api/books/{{this.id}}/update" checked={{this.book_condition}}>
					<fieldset >
						<textarea name="quote" type="text" class="list-view_textarea readonly col" placeholder={{this.quote}}>{{this.quote}}</textarea>
						<div class="radio-box radio-box_list-view col-3">
							<label for='book_condition-{{this.id}}'>Book condition</label>
				<data id="book_condition_value-{{this.id}}" class="book_condition_value {{this.id}}" value={{this.book_condition}}></data>
							<div class="custom-control custom-radio custom-control-inline">
							  <input type="radio" id='book-condition-good-{{this.id}}' name='book_condition' class="radio_cond {{this.id}} custom-control-input" value="good">
							  <label class="custom-control-label"  for='book-condition-good-{{this.id}}'>Good</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							  <input type="radio" id='book-condition-medium-{{this.id}}' name='book_condition' class="radio_cond {{this.id}} custom-control-input" value="medium">
							  <label class="custom-control-label"  for='book-condition-medium-{{this.id}}'>More or less</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							  <input type="radio" id='book-condition-bad-{{this.id}}' name='book_condition' class="radio_cond {{this.id}} custom-control-input" value="bad">
							  <label class="custom-control-label"  for='book-condition-bad-{{this.id}}'>Hmm..</label>
							</div>
						</div>
					</fieldset>
					<div class="list-button-box col-1">
						<button class="buttons button2 hidden-text" type="submit">
							<i class="fas fa-edit"></i>
							<div class="edit-text">Apply your edit</div>
						</button>
						<button class="buttons button2 hidden-text" type="button" onclick="document.getElementById('modal-{{this.id}}').style.display='block'">
							<i class="far fa-window-close"></i>
							<div class="edit-text">Delete this book</div>
						</button>
					</div>
				</form>	<!-- MODAL -->
					<div id="modal-{{this.id}}" class="sadmodal list-view_modal" style="display: none">
						<div class="sadmodal-content">
							<div class="sadmodal-box">
								<span onclick="document.getElementById('modal-{{this.id}}').style.display='none'"
									       class="sadmodal-exit-button"><i class="far fa-window-close"></i></span>
								<p>Do you want to take the book off the bookshelf?</p>
								<form method="POST" action="/api/books/{{this.id}}/delete">
									<button class="listYes-btt" type="submit">Yes</button>
								</form>
							</div>
						</div>
		  			</div>
			</li>
			{{/each}}
			{{/if}}
			{{#if freeBooks}}
			<h3 class="second-header row header-three">Free books</h3>
			{{#each freeBooks}}
			<li class="book-item row" id="{{this.id}}">
				<div class="book-icon col-1"><i class="fas fa-book book-icon"></i></div>
				<div class="book-info col-2">
					<p class="list-book-title">{{this.title}}</p>
					<p class="list-book-author">{{this.author}}</p>
					<p>{{this.genre}}</p>
					<label class="" for="reserveBook">Reserve it</label>
					<input type="checkbox" name="status" value="reserved" checked="" class="reserveBook" data="{{this.id}}" data-status="{{this.status}}"></input>
				</div>
				<form class="editForm col-8" method="POST" action="/api/books/{{this.id}}/update" checked={{this.book_condition}}>
					<fieldset >
						<textarea name="quote" type="text" class="list-view_textarea readonly col" placeholder={{this.quote}}>{{this.quote}}</textarea>
						<div class="radio-box radio-box_list-view col-3">
							<label for='book_condition-{{this.id}}'>Book condition</label>
				<data id="book_condition_value-{{this.id}}" class="book_condition_value {{this.id}}" value={{this.book_condition}}></data>
							<div class="custom-control custom-radio custom-control-inline">
							  <input type="radio" id='book-condition-good-{{this.id}}' name='book_condition' class="radio_cond {{this.id}} custom-control-input" value="good">
							  <label class="custom-control-label"  for='book-condition-good-{{this.id}}'>Good</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							  <input type="radio" id='book-condition-medium-{{this.id}}' name='book_condition' class="radio_cond {{this.id}} custom-control-input" value="medium">
							  <label class="custom-control-label"  for='book-condition-medium-{{this.id}}'>More or less</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
							  <input type="radio" id='book-condition-bad-{{this.id}}' name='book_condition' class="radio_cond {{this.id}} custom-control-input" value="bad">
							  <label class="custom-control-label"  for='book-condition-bad-{{this.id}}'>Hmm..</label>
							</div>
						</div>
					</fieldset>
					<div class="list-button-box col-1">
						<button class="buttons button2 hidden-text" type="submit">
							<i class="fas fa-edit"></i>
							<div class="edit-text">Apply your edit</div>
						</button>
						<button class="buttons button2 hidden-text" type="button" onclick="document.getElementById('modal-{{this.id}}').style.display='block'">
							<i class="far fa-window-close"></i>
							<div class="edit-text">Delete this book</div>
						</button>
					</div>
				</form>	<!-- MODAL -->
					<div id="modal-{{this.id}}" class="sadmodal list-view_modal" style="display: none">
						<div class="sadmodal-content">
							<div class="sadmodal-box">
								<span onclick="document.getElementById('modal-{{this.id}}').style.display='none'"
									       class="sadmodal-exit-button"><i class="far fa-window-close"></i></span>
								<p>Do you want to take the book off the bookshelf?</p>
								<form method="POST" action="/api/books/{{this.id}}/delete">
									<button class="listYes-btt" type="submit">Yes</button>
								</form>
							</div>
						</div>
		  			</div>
			</li>
			{{/each}}
			{{/if}}
		</div>
	</section>
