<div class="hello_header">
<div class="row">
    <div class="col-8">
  <h1>Login</h1>
  <form action="/login" method="POST">
    <div class="form-group">
      <p class="error_msg">{{notAuth}}</p>
      <label for="email">username (e-mail)</label>
      <input type="text" class="form-control" id="inputUsername" name="email" aria-describedby="emailHelp">
      <p class="error_msg">{{email}}</p>
      <p class="error_msg">{{noUser}}</p>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="password_input" name="password" required="">
      <p class="error_msg">{{wrongPass}}</p>
      <p><a href="/findYourAccount">Forgot Password?</a></p>
    </div>
    {{#if no_results}}
      <div class="warning">Sorry, no results.</div>
    {{/if}}
  	<div class="form-check">
  	  <input class="form-check-input" type="checkbox" value="lsRememberMe" id="rememberMe">
  	  <label class="form-check-label" for="rememberMe">remember me</label>
  	</div>
    <button type="submit" href class="btn btn-primary mt-3" id="rememberMe_btn">Log in</button>
  </form>
  </div>
  <div class="col">
    <div class="mb-2">
      <button class="btn btn-outline-dark" ><a href="/auth/facebook">Login with Facebook</a></button>
    </div>
    <div class="mb-2">
      <button class="btn btn-outline-dark"><a href="/auth/google">Login with Google</a></button>
    </div>
    <div class="mb-2">
      <button class="btn btn-lg btn-dark"><a href=/register>Register</a></button>
    </div>
  </div>
</div>
</div>

