<header>
	<div class="header-box">
		<a href="/"><div class="header-logo">Bookswap</div></a>
		<div class="header-right">
				<div class="header-icon">
					<a href="/book_list">
					<i class="fas fa-tasks"></i></a>
				</div>
				<div class="header-icon">
					<a href="/menu"><i class="fas fa-user"></i></a>
				</div>
				<div class="header-icon">
					<a href="/socket">
					<i class="fas fa-comment-dots"></i></a>
				</div>
			</div>
	</div>
</header>
<section class="container bookcase-section menu-box">
		<div class="row menu-box-row user-info" >
			<div class="menu-header-wrap" id="persoModalBtn">
				<button type="button" id="persoModalBtn" class="not-a-button">
				<div class="icon-box">
					{{#if data.img_path}}
						<img src="{{data.img_path}}" class="img-thumbnail float-right" alt="profile picture">
					{{else}}
						<i class="far fa-user right user-icon"></i>
					{{/if}}
				</div>
				<div class="ml-3">
					<p>{{data.name}}</p>
					<p>{{data.phone_nr}}</p>
					<p>{{data.email}}</p>
				</div>
				</button>
			</div>
		</div>
		<div class="row center menu-box-row">
			<div class="col">
				<p class="num">{{booksNr}}</p>
				<p>my books</p>
			</div>
<!-- 			<div class="col">
				<p class="num">to do</p>
				<p>books borrowed</p>
			</div> -->
			<div class="col">
				<p class="num">{{chatsNr}}</p>
				<p>contacts</p>
			</div>
		</div>
		<div class="row menu-box-row ">
			<div class="col menu_list_col">
				<!-- <div>
					<button type="button" id="nextModalBtn" class="not-a-button">Something</button>
				</div> -->
				<div>
					<button type="button" id="addressModalBtn" class="not-a-button">Meeting place</button>
				</div>
				<div>
					<button type="button" id="statsModalBtn" class="not-a-button">Stats</button>
				</div>
				<div>
					<button type="button" id="anotherModalBtn" class="not-a-button">Friends</button>
				</div>
			</div>
		</div>
<!-- MODAL -->
		<div class="modal" id="addressModal" tabindex="-1" aria-modal="true" style="display: none">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		            	<h4>change the place you want to exchange books at</h4>
		            </div>
		            <div class="modal-body">
		            	<form method="POST" action="/{{data.id}}/updateAddress" class="">
		            		<div class="form-group">
							    <label for="city">city</label>
							    <input type="city" class="form-control" id="city_input" name="city"
							    required="" value="{{data.city}}">
							</div>
							<div class="form-group">
							    <label for="street">street</label>
							    <input type="street" class="form-control" id="street_input" name="street"
							    required="" value="{{data.street}}">
							</div>
							<div class="form-group">
							    <label for="building_nr">building number</label>
							    <input type="building_nr" class="form-control" id="building_nr_input" name="building_nr"
							    required="" value="{{data.building_nr}}">
							</div>
		            		<button type="submit" class="btn btn-primary">Submit</button>
		            		<button type="button" class="btn btn-secondary" id="c_addressModal">Close</button>
		            	</form>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
<!-- MODAL -->
<!-- MODAL 2 -->
		<div class="modal" id="statsModal" tabindex="-1" aria-modal="true" style="display: none">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		            	<h4>Your stats:</h4>
		            </div>
		            <div class="modal-body">
		            	<div>
		            		<div>How people rated you as a person (have fun)</div>
		            		<div class="text-center">{{data.rating}}</div>
		            	<button type="button" class="btn btn-secondary" id="c_statsModal">Close</button>
		            	</div>
		            </div>
		        </div>
		    </div>
		</div>
	<!-- 	MODAL 2 -->
	<!-- MODAL 3 -->
		<div class="modal" id="nextModal" tabindex="-1" aria-modal="true" style="display: none">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		            	<h4>Tings:</h4>
		            </div>
		            <div class="modal-body">
		            	<div>
		            		<div>Something, something</div>
		            	<button type="button" class="btn btn-secondary" id="c_nextModal">Close</button>
		            	</div>
		            </div>
		        </div>
		    </div>
		</div>
	<!-- 	MODAL 3 -->
	<!-- MODAL 4 -->
		<div class="modal" id="anotherModal" tabindex="-1" aria-modal="true" style="display: none">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		            	<h4>List of friends</h4>
		            </div>
		            <div class="modal-body">
		            	<div>
		            		<ul>
		            			{{#each friends}}
		            			<li>{{this.name}}</li>
		            			{{/each}}
		            		</ul>
		            	<button type="button" class="btn btn-secondary" id="c_anotherModal">Close</button>
		            	</div>
		            </div>
		        </div>
		    </div>
		</div>
	<!-- 	MODAL 4 -->
	<!-- MODAL 5 -->
		<div class="modal" id="persoModal" tabindex="-1" aria-modal="true" style="display: none">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		            	<h4>Change your personal info</h4>
		            </div>
		            <div class="modal-body">
		            	<form action="/updateData" method="POST" enctype="multipart/form-data">
						    <div class="form-group">
						      <label for="img_path">Profile image</label>
						      <input type="file" class="form-control" id="profile_pic_input" name="img_path">
						    </div>
						    <div class="form-group">
						      <label for="phone_nr">phone number</label>
						      <input type="text" class="form-control" id="phone_nr_input" name="phone_nr"
						     value="{{data.phone_nr}}" required="">
						    </div>
						    <div class="form-group">
						      <label for="email">email</label>
						      <input type="email" class="form-control" id="inputEmail" name="email" value="{{data.email}}" required="">
						    </div>
		            		<button type="submit" class="btn btn-primary">Submit</button>
		            		<button type="button" class="btn btn-secondary" id="c_persoModal">Close</button>
		            	</form>
		            </div>
		        </div>
		    </div>
		</div>
	<!-- 	MODAL 5 -->
		<div class="row logout-box">
			<div class="col">
				<form action="/logout" method="GET">
				  <button type="submit" class="btn btn-outline-light">Log Out</button>
				</form>
			</div>
		</div>
</section>
<script type="text/javascript" src="../js/imageInputResize.js"></script>
