<header>
	<div class="header-box">
		<div class="header-logo">Bookswap</div>
		<div class="header-right">
				<div class="header-icon">
					<a href="/book_list">
					<i class="fas fa-tasks"></i></a>
				</div>
				<div class="header-icon">
					<a href="/menu"><i class="fas fa-user"></i></a>
				</div>
				<div class="header-icon">
					<a href="/socket">
					<i class="fas fa-comment-dots"></i></a>
				</div>
			</div>
	</div>
</header>
<section class="container">
	<div class="row">
		<div class="col-3">
			<div class="row">
				<div class="btn-group" role="group" >
					<button type="button" role="button" class="btn btn-secondary" id="all-chats">All</button>
					<button type="button" role="button" class="btn btn-secondary" id="my_asks-btn">My asks</button>
					<button type="button" role="button" class="btn btn-secondary" id="not_my_asks-btn">Not my asks</button>
				</div>
			</div>
			<div class="all-chats">
				<div class="my_asks collapsible">
	<data id="active-chat" value={{other}}></data>
					{{#each my_asks}}
					<div class="row">
						<a href="/messages?otherUser_id={{this.second_user}}&book_id={{this.book_id}}">
						<button class="{{this.second_user}} btn btn-primary mt-2 ml-3 chat-list-btn">chat with user {{this.second_user}}</button>
					</a>
					</div>
					{{/each}}
				</div>
				<div class="not_my_asks collapsible">
					{{#each not_my_asks}}
					<div class="row">
						<a href="/messages?otherUser_id={{this.first_user}}&book_id={{this.book_id}}">
						<button class="{{this.first_user}} btn btn-secondary mt-2 ml-3 chat-list-btn">chat with user {{this.first_user}}</button>
					</a>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-9">
			<div class="row menu-box-row text-center">
					<div class="icon-box col">
				{{#if personalData.img_path}}
						<img src="{{personalData.img_path}}" class="float-right">
				{{else}}
						<i class="far fa-user right user-icon"></i>
				{{/if}}
					</div>
				<div class="col text-left">
					<p>{{personalData.name}}</p>
					<p>last active </p>
					{{#if renderBookcheckbox}}
						<label class="" for="reserveBook">{{book.author}} {{book.title}}</label>
						<input type="checkbox" name="status" value="reserved" id="reserveBook" data="{{book.id}}"></input>
					{{/if}}
				</div>
			</div>
			<div class="row chat-box">
				<div id="message-container">
					{{#each messages}}
					<div class="message-box">
						<div id="{{this.id}}" class="message user-{{this.activeUser}}">{{this.text}}</div>
						<div class="message-date">{{this.date}}</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="form-group row">
				<form action="/messages/{{chatID}}" autocomplete="off" method="POST" class="chat-line">
					<i class="fas fa-ambulance help-icon"></i>
					<input type="text" class="form-control chat-submit" name="message">
					<button class="btn btn-success chat-send" type="submit" >Send</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!--
<script src="/socket.io/socket.io.js">
  var socket = io();
  socket.on('connection', ()=> {
  	console.log("connect")
  })

