<header>
	<div class="header-box">
		<div class="header-logo">Bookswap</div>
	</div>
		<div class="white_box">
			<label class="font-weight-bold mb-2 border-bottom border-primary pb-2">Enter Security Code</label>
			<p>Please check your email for a message with your code.<br /> Your code is 6 numbers long.</p>
			<form class="col-9" action="/verifyCode/{{randNumb}}" method="POST">
				<input type="text" name="code" autofocus="1" class="form-control" placeholder="Enter code">
				{{#if wrong_code}}
					<p class="error_msg">It looks like you entered something wrong. Your code is 6 numbers long.</p>
				{{/if}}
				<div class="form-group mt-3 text-right d-flex">
					<div class="text-left mr-5"><a href="/findYourAccount">Didn't get a code?</a></div>
					<button type="submit" class="btn btn-primary">Continue</button>
					<a href="/login" class="ml-2 btn btn-light">Cancel</a>
				</div>
			</form>
		</div>
</header>
