<div class="hello_header">
  <div class="row">
    <form action="/register" method="POST" enctype="multipart/form-data" class="col-8 mb-4">
      <h3>Required</h3>
      <div class="form-group">
        <label for="name">username</label>
        <input type="text" class="form-control" id="inputUsername" name="name" aria-describedby="emailHelp" required="" >
        <p class="error_msg">{{username}}</p>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="inputEmail" name="email" required="">
        <p class="error_msg">{{userExists}}</p>
      </div>
      <p class="error_msg">{{email}}</p>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control password_input" name="password"
        required="" >
      </div>
      <div class="form-group">
        <label for="password">repeat password</label>
        <input type="password" class="form-control r_password_input" name="r_password"
        required="" >
      </div>
      <div class="form-group">
        <label for="phone_nr">phone number</label>
        <input type="phone_nr" class="form-control" id="phone_nr_input" name="phone_nr"
        required="" >
        <p class="error_msg">{{phone_nr}}</p>
      </div>
      <div class="form-group">
        <label for="img_path">Profile image</label>
        <input type="file" class="form-control" id="profile_pic_input" name="img_path"
        required="">
      </div>
      <h3>Address</h3>
      <p>Add if you want to search books by distance</p>
      <div class="form-group">
        <label for="city">city</label>
        <input type="city" class="form-control" class="inputAddress" name="city" required="" >
      </div>
      <div class="form-group">
        <label for="street">street</label>
        <input type="street" class="form-control" class="inputAddress" name="street" required="" >
      </div>
      <div class="form-group">
        <label for="building_nr">building number</label>
        <input type="building_nr" class="form-control" class="inputAddress" name="building_nr" required="" >
      </div>
      <div class="form-check">
    	  <input class="form-check-input" type="checkbox" value="" id="rulesAgreement" required="" >
    	  <label class="form-check-label" for="defaultCheck1">Agree to <a href="/terms">rules<a></label>
    	</div>
      <button type="submit" href class="btn btn-primary mt-3">Register</button>
    </form>
    <div class="col mt-5">
      <div class="mb-2">
        <button class="btn btn-outline-dark" ><a href="/auth/facebook">Login with Facebook</a></button>
      </div>
      <div class="mb-2">
        <button class="btn btn-outline-dark"><a href="/auth/google">Login with Google</a></button>
      </div>
      <div class="mb-2">
        <button class="btn btn-lg btn-outline-dark"><a href=/login>Login</a></button>
      </div>
    </div>
  </div>
</div>
