<header>
	<div class="header-box">
		<div class="header-logo">Bookswap</div>
	</div>
		<div>
			<h2>Add your book!</h2>
            <p>Just take a photo of your books barcode and select it below,<br> the scanner will detect the book automatically!</p>
		</div>
</header>
<section id="container" class="container">
    <div class="row">
        <div class="col-8">
            <div class="controls">
                <fieldset class="input-group">
                    <input type="file" accept="image/*" capture="camera"/>
                </fieldset>
            </div>
            <div id="interactive" class="viewport"></div>
        </div>
        <div class="col-4">
            <h3 class="alert alert-info text-center" id="error-info"></h3>
        </div>
    </div>
</section>
<footer>
</footer>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>

<script type="text/javascript" src="../scanner.bundle.js"></script>
