<header>
		<div class="header-box">
			<a href="/"><div class="header-logo">Bookswap</div></a>
			<div class="header-right">
				<div class="header-icon">
					<a href="/book_list">
					<i class="fas fa-tasks"></i></a>
				</div>
				<div class="header-icon">
					<a href="/menu"><i class="fas fa-user"></i></a>
				</div>
				<div class="header-icon">
					<a href="/socket">
					<i class="fas fa-comment-dots"></i></a>
				</div>
			</div>
		</div>
</header>
<section>
	<div class="row">
		<div class="col">
			<h2>Search for books by author or title</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-8">
				<form action="/search" method="POST" class="form-inline row">
				<div class="form-group col-6 autocomplete">
					<input id="myInput" type="text" name="ask" class="form-control" autocomplete="off" autofocus>
				</div>
					<div class="col-2"><button type="submit" class="btn btn-primary">Search</button></div>
				<div class="btn-group dropright col-3 form-group">
					<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-search-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters</button>
					<div class="dropdown-menu-search-option dropdown-menu">
						  	<div class="form-group col">
						  		<label for="distanceRange" class="mt-4">Distance (1-1200 km)</label>
						  		<input type="range" min="1" max="1200" id="get" onchange="fetch()" class="custom-range" id="distanceRange" name="distance">
						  		<div id="put"></div>
								<select name="genre" class="custom-select">
								    <option selected>Genre</option>
									<option value="romance">Romance</option>
									<option value="Fiction">Fiction</option>
									<option value="drama">Drama</option>
									<option value="Historical">Historical</option>
									<option value="essays">Essays</option>
									<option value="fantasy">Fantasy</option>
									<option value="horror">Horror</option>
									<option value="scifi">Science Fiction</option>
									<option value="youngAdult">Young Adult</option>
								</select>
						  	</div>
					</div>
				</div>
			</form>
		</div>
		<form method="POST" action="/search/random">
			<button class="btn btn-secondary" type="submit">Random choice</button>
		</form>
	</div>
	{{#if no_results}}
		<div class="warning">Sorry, no results.</div>
	{{/if}}
	{{#each displayedResult}}
	<div class="col">
		<a href="/socket?otherUser_id={{this.user}}&book_id={{this.book_id}}">
			<div class="row search-result">
				<div class="col-2">
					<div>{{this.author}}</div>
					<div>{{this.title}}</div>
					<div>{{this.genre}}</div>
				</div>
				<div class="col-4">
					<div>{{this.quote}}</div>
				</div>
				<div class="col-2">
					<div>Book condition</div>
					<div>{{this.book_condition}}</div>
				</div>
				<div class="col-2">
						<div class="icon-box">
					{{#if this.img_path}}
							<img src="{{this.img_path}}">
					{{else}}
							<i class="far fa-user right user-icon"></i>
					{{/if}}
						</div>
				</div>
				<div class="col-2">
					<div>{{this.user}}</div>
					<div>{{this.name}}</div>
					<div>stars</div>
				</div>
			<div class="send-message"><i class="far fa-paper-plane"></i></div>
			</div>
		</a>
	</div>
	{{/each}}
</section>
<script type="text/javascript" src="../search.bundle.js"></script>
<script>

	let books = '{{books}}'
	let b = books.split(',')
	changeIt(document.getElementById('myInput'),  b)
</script>
