<header>
	<div class="header-box">
		<div class="header-logo">Bookswap</div>
	</div>
		<div class="white_box">
			<label class="font-weight-bold mb-2 border-bottom border-primary pb-2">Type your new password:</label>
			<p>Create a new password that is at least 6 characters long.<br/> A strong password is combination of letters, numbers, and punctuation marks.</p>
			<form class="col-9" action="/setNewPassword/{{randNumb}}" method="POST">
				<input type="password" name="password" autofocus="1" class="form-control password_input mb-3" required="" placeholder="password">
				<input type="password" name="r_password" class="form-control r_password_input"required="" placeholder="repeat password">
				<div class="form-group mt-3 text-right d-flex">
					<button type="submit" class="btn btn-primary">Continue</button>
				</div>
			</form>
		</div>
</header>
