<script defer src="/socket.io/socket.io.js"></script>
<script defer type="text/javascript" src="../chat.bundle.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="./css/chatPage.css"> -->

<header>
  <div class="header-box">
    <a href="/"><div class="header-logo">Bookswap</div></a>
    <div class="header-right">
        <div class="header-icon">
          <a href="/book_list">
          <i class="fas fa-tasks"></i>
        </div>
        <div class="header-icon">
          <a href="/menu"><i class="fas fa-user"></i></a>
        </div>
        <div class="header-icon">
          <a href="/socket">
          <i class="fas fa-comment-dots"></i></a>
        </div>
      </div>
  </div>
</header>
<div class="chat-container">
  <div class="chatbox">
    <div class="top-bar">
      <div class="avatar">
        {{#if personalData.img_path}}
            <img src="{{personalData.img_path}}" class="float-right avatar">
        {{/if}}
      </div>
      <div class="name">{{personalData.name}}</div>
      <div class="icons">
        {{#if book}}
          <p>{{book.author}}<br> "{{book.title}}"</p>
        {{/if}}
        {{#if renderCheckbox}}
          <form class="reserve-checkbox">
            <label class="" for="reserveBook">reserve this book</label>
            <input type="checkbox" name="status" value="reserved" class="reserveBook" data="{{book.id}}"></input>
          </form>
        {{/if}}
      </div>
<!--       <div class="menu">
        <div class="dots"></div>
      </div> -->
    </div>
    <div class="middle">
          <div class="chat-messages">
            {{#if no_results}}
              <h4 class="warning">Sorry, no chats yet</h4>
            {{/if}}
            {{#each messages}}
            <div class="message-box">
              <div id="{{this.id}}" class="message user-{{this.activeUser}}">{{this.text}}</div>
              <div class="message-date">{{this.date}}</div>
            </div>
            {{/each}}
          </div>
    </div>
    <div class="bottom-bar chat-form">
      <form class="chat" id="chat-form">
        <input
        class="chat-input"
            id="msg"
            type="text"
            placeholder="Type a message"
            required
            autocomplete="off"
          />
        <button type="submit" class="fa-paper-plane-btn"><i class="fas fa-paper-plane"></i></button>
      </form>
    </div>
  </div>
  <div class="messages"></div>
  <div class="profile">
    <div class="profile-avatar">
        {{#if userData.img_path}}
            <img src="{{userData.img_path}}" class="float-right avatar">
        {{/if}}
      </div>
    <div class="name2">
      <p>{{userData.name}}</p>
      <p class="email">{{userData.email}}</p></div>
  </div>
  <div class="chat-options" role="group" >
          <button type="button" role="button" class="chat-option-btn" id="all-chats">All</button>
          <button type="button" role="button" class="chat-option-btn" id="my_asks-btn">My asks</button>
          <button type="button" role="button" class="chat-option-btn" id="not_my_asks-btn">Not my asks</button>
  </div>
  <div class="collapsible_box">
    <ul class="my_asks collapsible people">
    <data id="active-chat" value={{other}}></data>
          {{#each my_asks}}
          <li class="row person">
            <a href="/socket?otherUser_id={{this.second_user}}&book_id={{this.book_id}}">
              <div class="title">{{this.name}}</div>
              <!-- <div class="time">time</div>
              <div class="preview">preview</div> -->
            <!-- <button class="{{this.second_user}} btn btn-primary mt-2 ml-3 chat-list-btn">chat with user {{this.second_user}}</button> -->
          </a>
          </li>
          {{/each}}
    </ul>
    <ul class="not_my_asks collapsible people">
          {{#each not_my_asks}}
          <li class="person">
            <a href="/socket?otherUser_id={{this.first_user}}&book_id={{this.book_id}}">
              <div class="title">{{this.name}}</div>
              <!-- <div class="time">time</div>
              <div class="preview">preview</div> -->
            <!-- <button class="{{this.first_user}} btn btn-secondary mt-2 ml-3 chat-list-btn">chat with user {{this.first_user}}</button> -->
            </a>
          </li>
          {{/each}}
    </ul>
  </div>
</div>
