<div class="hello_header">
	<div class=" row">
		<a href="/"><div class="header-logo col">Bookswap</div></a>
	</div>
	<div class="t_box row">
		<div class="t_main col">
			<p>Now go to Your email and click the activation link, check Your SPAM, and if You want send the verification email <a href="">again</a></p>
			<button class="btn btn-primary"><a href="/hello">Back to main</a></button>
		</div>
	</div>
</div>
