<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KQ479KT');</script>
		<!-- End Google Tag Manager -->
	<style>html{visibility: hidden;opacity:0;}</style>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link href="https://fonts.googleapis.com/css2?family=Lato&family=Questrial&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/b4378f11dd.js" crossorigin="anonymous"></script>
	  <title>Bookswap</title>
	</head>
	<body class="main-organism">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQ479KT"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="content-wrap">
			<main>
			  <div class="container mt-4">
			    {{{body}}}
			  </div>
			</main>
			<footer class="footer">
				<div class="row">
					<div class="col">This app was made by me: Justyna <3</div>
				</div>
			</footer>
		</div>
	</body>
</html>
<script type="text/javascript" src="../main.bundle.js"></script>
