.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete input {
  /*border: 1px solid black;*/
  /*background-color: var(--detail-color);*/
  padding: 10px;
  font-size: 16px;
}
.autocomplete input[type=text] {
/*  background-color: var(--second-color);*/
  width: 100%;
}
.autocomplete input[type=submit] {
/*  background-color: var(--detail-color);*/
  color: #fff;
  cursor: pointer;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--detail-color);
  border-bottom: 1px solid #d4d4d4;
  border-radius: 3px;
  font-family: var(--main-txt-font)
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--second-color) !important;
  color: #ffffff;
}
