:root {
 --main-bg-color: #F4B701;
 --main-txt-color: #001B2E;
 --second-color: #294C60;
 --happy-txt-color: #EC5732;
 --happy-txt-color-active: #e94016;
 --detail-color: #ADB6C4;
 --title-font: 'Questrial', sans-serif;
 --main-txt-font: 'Lato', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
}
* {
  font-family: var(--main-txt-font);
}

.main-organism {
	background-color: var(--main-bg-color);
	color: var(--main-txt-color);
	width: 1000px;
	margin: auto;
	font: var(--main-txt-font);
  position: relative;
  min-height: 100vh;
  padding-top: 1px
}
.container {
  margin-bottom: 20px;
  padding: 0
}
a {
	font-weight: 600;
	font-style: var(--main-txt-font);
  color: inherit;
  display: contents;
}
header {
	margin: 20px 10px 10px;
	display: inline-block;
	width: 100%
}
p {
  font-size: 16px
}
.content-wrap {
  padding-bottom: 7rem;    /* Footer height */
}

.footer {
	padding: 20px;
  background-color: var(--main-txt-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  margin-top: 60px;
  margin-bottom: 0;
  color: var(--detail-color)
}
.form-title {
	font-family: var(--title-font);
	font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-cont {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    flex-direction: column;
    position: relative;
}
.form-space {
  margin-top: 15px;
  margin-bottom: 15px;
}
.header-logo {
	font-family: var(--title-font);
	font-size: 50px;
    font-weight: 600;
}
.header-right {
	float: right;
}
.header-box {
	text-align: center;
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
}
.header-icon {
	padding: 2px;
	padding-left: 10px;
	display: inline-block;
	font-size: 50px;
}
.header-icon:hover {
	color: var(--happy-txt-color)
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.disclaimer {
	padding: 5px;
	font-size: 12px;
}
.title {
	font-family: var(--title-font);
	font-size: 35px;
    font-weight: 600;
    margin: 0 20px;
}
.text-input {
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 18px;
    /*background-color: var(--second-color);*/
    color: var(--detail-color);
    letter-spacing: 1px;
}
.right {
  float: right;
}
.center {
  text-align: center
}
.menu-box {
  color: var(--detail-color);
  padding-top: 30px;
}
.menu_list_col {
  text-align: center;
    line-height: 1.7;
}
.user-icon {
  font-size: 48px;
}
.icon-box {
  width: 70px;
  height: 70px;
}
.icon-box > img {
  width: 67px;
  height: 67px;
  border-radius: 50px;
  object-fit: fill;
}
.num {
      font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
}
.col-right{
display: flex;
    flex-direction: column;
    text-align: end;
  }
.user-info {
  margin-right: 30px;
  margin-left: 30px;
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 20px;
  justify-content: center;
}
.menu-header-wrap {
    display: flex;
    max-width: min-content;
    cursor: pointer;
    align-items: center;
    position: relative;
    left: -36px
}

.search-result {
    background-color: var(--second-color);
    margin: 10px 20px;
    padding: 10px 15px;
    color: var(--detail-color);
    font-weight: 600;
    border-radius: 2px;
    position: relative;
}
.search-result:hover {
  opacity: .9;
  border: 2px solid black;
}
.search-result:hover > .send-message {
  display: block;
}
.send-message {
  display: none;
  position: absolute;
  right: -50px;
  bottom: 15px;
  font-size: 40px;
  color: black;
}
.search-result-form {
  width: 100%
}
.user-true {
  float: right;
}
.user- {
  float: left;
}
.collapsible {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*for quagga*/

#interactive.viewport {
  width: 480px;
  height: 640px;
}
#interactive.viewport canvas, video {
  float: left;
  width: 480px;
  height: 640px;
}
#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -480px;
}

/*for menu view*/

.not-a-button {
  background-color: inherit;
  border: none;
  color: inherit;
  font-weight: 600;
  display: contents;
}
.not-a-button:focus {
  outline: none
}
.logout-box {
  margin-left: 15px;
}
.edit-text {
  color: var(--happy-txt-color);
  position: absolute;
  left: 38px;
  top: -2px;
  width: 64px;
  opacity: 0;
  font-weight: 700;

}
.hidden-text:hover > div {
  opacity: 1;
  transition: opacity .3s
}
.header-three {
  margin-top: 15px;
  margin-left: 20px;
}
.error_msg {
  margin-top: 10px;
    margin-left: 7px;
    font-size: 13px;
    font-weight: 700;
    color: var(--happy-txt-color-active)
}
.white_box {
  width: 600px;
    margin: 90px auto;
}
