.main-box {
	width: 900px;
    margin: 20px auto;
    border-radius: 3px;
    padding: 20px 15px;
}
.column-box {
    border: 2px solid var(--main-txt-color);
    margin: 5px 10px;
    padding: 15px 15px;
    border-radius: 2px;
    background: var(--main-txt-color);
    padding-bottom: 50px;
    min-height: 300px;
}
.book_wish_list-el {
	margin: 5px 0px;
    padding: 10px 20px;
    border: 1px solid var(--main-txt-color);
    border-radius: 10px;
    background-color: var(--secondary);
    cursor: pointer;
    position: relative;
    display: flex;
}
.book_wish_list-el:hover {
	transform: scale(1.01);
	transition: .2s all ease-in-out;
}
.book_wish_list-el-inside {
	display: flex;
	max-width: 320px;
	overflow-wrap: anywhere;

}
.b-author {
	margin-right: 10px;
	color: var(--main-bg-color);
    font-weight: 600;
    letter-spacing: 1px;
}
.b-title {
	font-weight: 600;
}
.col-title {
	color: var(--secondary);
    font-weight: 600;
    letter-spacing: 2px;
}
.add_to_wishlist-btn {
	background: var(--second-color);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 0 5px;
    color: white;
    font-size: 21px;
}
.inp-label {
	letter-spacing: 2px;
    font-weight: 600;
    font-size: 23px;
    margin: 0 2px 0 13px;
}
.addBookForm > input {
    border: none;
    padding: 2px 15px;
    height: 40px;
    border-radius: 5px;

}
.addBookForm {
	margin-left: 100px;
    margin-top: 30px;
}
.trash-icon-box {
	position: absolute;
    right: 5px;
    top: 6px;
}
.done_header {
	display: flex;
	position: relative;
}
.done_header_trash {
    color: var(--main-bg-color);
    font-size: 25px;
    position: absolute;
    top: 0px;
    right: 7px;

}
