
.chat-container {
  position: relative;
  height: 490px;
}

.messages {
  position: absolute;
  background: white;
  width: 30%;
  height: 80%;
  top: 2.5%;
  left: 5%;
  border-radius: 10px 0 0 10px;
}
.chat-options {
  position: absolute;
  display: flex;
      top: 128px;
    left: 50px;
}
/*. {

}*/
.chat-option-btn {
    height: 36px;
    width: 100px;
    font-size: 16px;
    outline: none;
    border: 1px solid grey;
    background: var(--main-txt-color);
    color: var(--secondary);
    font-weight: 700;
}
/*.active {
  z-index:
}*/
/*chat messages */
.collapsible_box {
  position: absolute;
      overflow-y: scroll;
    height: 235px;
  width: 297px;
  left: 52px;
  top: 34%;
  line-height: 0.7em;
}
.people {
  padding-inline-start: 0
}
.people .title {
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 14px;
    color: var(--main-txt-color);
}
.people .time {
    font-size: 10px;
    color: var(--main-txt-color);
    position: absolute;
    right: 10px;
    margin-top: 2px;
}
.people .preview {
    color: var(--main-txt-color);
    font-size: 10px;
    position: absolute;
    right: 84px;
}
.person {
  padding: 12px 0 12px 12px;
  cursor: pointer;
  margin-right: 0;
  margin-left: 0;
  height: 45px;
  align-items: center;
}
.person:hover {
    background: var(--second-color);
    transition: all .3s ease-in-out;
}
.focus {
  background: white;
  margin-left: 1px;
}

.profile {
  position: absolute;
  left: 16%;
  top: 5%;
}
.profile-avatar {
  width: 37px;
    height: 37px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 8px;
}

.name2{
  position: absolute;
  top: 50px;
  left: -3px;
  text-transform: uppercase;
  color: var(--main-txt-color);
  font-size: .8em;
  font-weight: 500;
}
.email {
  color: var(--main-txt-color);
    font-size: .7em;
    margin-top: 2px;
    position: absolute;
    left: -63px;
    font-size: 8px;
}

.chatbox {
  position: absolute;
  left: 35%;
  height: 75%;
  width: 70%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(gray, 0.5);
}

.top-bar {
  width: 100%;
  height: 60px;
  background: var(--main-txt-color);
  border-radius: 10px 10px 0 0;
  border-bottom: 6px solid var(--secondary)
}

.avatar {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 8px;
}
.avatar > p {
    color: $white;
    margin: 7px 12px;
}

.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: gray;
  font-size: 18px;
  font-weight: 800;
  left: 60px;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}
.menu:hover {
    transform: scale(1.1);
    transition: all .3s ease-in;
}
.icons {
  position: absolute;
  color: lightgrey;
  padding: 10px;
  top: 5px;
  right: 21px;
}
.icons > p {
  font-size: 12px;
}
.fas {
    padding: 5px;
  }
.fas:hover {
      transform: scale(1.1);
      transition: all .3s ease-in;
    }
.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0px 7px 0px gray, 0px 14px 0px gray;
}

.middle {
  position: absolute;
  background: var(--main-txt-color);
  width: 100%;
  top: 60px;
  height: 90%;
  overflow-y: auto;
}

.incoming {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 20px;
}
.incoming .bubble {
    background: lighten(gray, 23%);
  }

.typing {
  position: absolute;
  top: 67%;
  left: 20px;
}
.typying .bubble {
    background: lighten(gray, 45%);
    padding: 8px 13px 9px 13px;
}

.ellipsis {
  width: 5px;
  height: 5px;
  display: inline-block;
  background: lighten(gray, 25%);
  border-radius: 50%;
  animation: bounce 1.3s linear infinite;
}

.one {
  animation-delay: 0.6s;
}
.two {
  animation-delay: 0.5s;
}
.three {
  animation-delay: 0.8s;
}

.bubble {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  color: grey;
  font-size: 0.7em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
}

.lower {
  margin-top: 45px;
}

.outgoing {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 15%;
  width: 50%;
  height: 100%;
}
.bubble {
    background: white;
}
.bottom-bar {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: -78px;
  background: var(--main-txt-color);
  border-radius: 0 0 10px 10px;
}
.left {
  left: 0px;
}
.chat-input {
  padding: 7px;
  width: 75%;
  left: 5%;
  position: absolute;
  border: 0;
  top: 10px;
  background: var(--main-txt-color);
  color: white;
}
.chat-input::placeholder {
  color: white;
}
.chat-input:focus {
  color: gray;
  outline: 0;
}
.fa-paper-plane-btn {
    position: absolute;
    border: 0;
    font-size: 1em;
    top: 13px;
    opacity: .2;
    right: 17px;
    cursor: pointer;
    outline: 0;
}
.fa-paper-plane-btn:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    color: gray;
}
.message {
  padding: 10px;
  background-color: var(--detail-color);
  width: fit-content;
  border-radius: 17px;
  max-width: 45%;
  overflow: hidden;
}
.message-box {
      margin: 2.5px 5px 3px 10px;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 6px;
}

.chat-messages .message {
  padding: 8px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}
.chat-messages .message .meta span {
  color: #777;
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-bg-color);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--main-txt-color);
}
.reserve-checkbox {
  z-index: auto;
    color: lightgrey;
    position: absolute;
    top: 17px;
    right: 150px;
    width: 100px;
    font-size: 10px;
}
.reserve-checkbox > label {
  position: relative;
    top: -3px;
    right: 3px;
}

@keyframes bounce {
  30% { transform: translateY(-2px); }
  60% { transform: translateY(0px); }
  80% { transform: translateY(2px); }
  100% { transform: translateY(0px); opacity: 0.5;  }
}
