.arrow-box {
	color: var(--second-color);
	font-size: 105px;
}
.arrow-box:hover {
	color: var(--happy-txt-color);
}
.arrow-box:hover div {
	opacity: 1
}
.main-section {
	padding-top: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.under-arrow {
	font-family: var(--main-txt-font);
	font-size: 30px;
	margin-top: 15px;
	opacity: 0;
	transition: opacity .3s;
}
.chat-box {
    height: 350px;
    background-color: whitesmoke;
    border-radius: 5px;
    overflow-y: scroll;
}
.chat-line {
	margin-top: -5px;
    margin-left: -1px;
    width: 100%;
}
.chat-submit {
	width: 91%;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column-reverse;
}
.chat-send {
	width: 9%;
	margin: 5px 0px;
}
.help-icon {
    font-size: 34px;
    margin-top: 8px;
    margin-right: 3px;
    margin-left: 4px;
    color: var(--second-color)
}
