.sadmodal {
	background-color: var(--second-color);
	color: var(--detail-color);
	border: 2px solid var(--second-color);
	border-radius: 5px;
	padding: 20px;
    width: 250px;
    position: absolute;
    z-index: 100;
    opacity: 0.99;
    top: 25px;
    right: 60px;
}
.sadmodal-exit-button {
	float: right;
	color: var(--happy-txt-color);
	font-size: 20px;
	font-weight: bold;
}
.sadmodal-exit-button:active {
	color: var(--happy-txt-color-active)
}
.yes-btt {
	padding: 5px;
	background-color: inherit;
	outline: none;
	text-decoration: none;
	border: 1px solid var(--second-color);
	margin-top: 6px;
	color: var(--happy-txt-color);
	font-size: 24px;
	font-weight: bold;
}
