.radio-box{
  display: flex;
  flex-direction: column;
}
.radio-container {
    display: flex;
    justify-content: space-around;
    background: white;
    border: 1px solid var(--main-txt-color);
    border-radius: 4px;
    padding: 5px;
    }
.book-condition label {
    display: block;
    margin-bottom: 5px;
}
.radio-cont-label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: .2s all ease-in-out;
    width: 95px;
    cursor: pointer;
}
.radio-container input[type="radio"] {
    display: none;
}
.ici {
    background: var(--second-color);
    padding: 0 3px;
}
